<div class="container">
	<% flash.each do |name,msg| %>
		<div class="row justify-content-md-center">
			<% if name == "notice" %>
				<div class="col-8 mt-4 alert alert-success" role="alert">
			<% elsif name == "alert"%>
				<div class="col-8 mt-4 alert alert-danger" role="alert">
			<% end %>
			  <%=msg%>
			  	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		</div>
	<% end %>		
</div>	

